extends layout
block css
	link(rel='stylesheet', href='/stylesheets/dashboard.css')
block js
	script(src='/javascripts/dashboard.js')
block header
	include ./include/header_dashboard.jade
block content
	div.container
		div.row
			div.col-xs-12
				h1.text-center.login-title Welcome #{user.firstName}. Check your details below:
					p Username -> #{user.username}
					p Email    -> #{user.email}
	div.container
		
		div.row
			div.col-xs-12
				div.well
					h3 My list
			- var n = 0
				while n < 4
					div.col-xs-6.col-md-3
						div.thumbnail
							div.caption
								h4 Title #{n}
								p Text
								a(href='#', class='label label-default') Show
							img(src="http://lorempixel.com/400/200/nightlife/", alt="Alt Img", title="Title Img")
					- n++
		div.row
			div.col-xs-12
				div.well
					h3 Comming Soon
			- var n = 0
				while n < 4
					div.col-xs-6.col-md-3
						div.thumbnail
							div.caption
								h4 Title #{n}
								p Text
								a(href='#', class='label label-default') Show
							img(src="http://lorempixel.com/400/200/nightlife/", alt="Alt Img", title="Title Img")
					- n++